[submodule "chef/cookbooks/apt"]
	path = chef/cookbooks/apt
	url = https://github.com/opscode-cookbooks/apt
[submodule "chef/cookbooks/chef-composer"]
	path = chef/cookbooks/chef-composer
	url = https://github.com/escapestudios/chef-composer
[submodule "chef/cookbooks/openssl"]
	path = chef/cookbooks/openssl
	url = https://github.com/opscode-cookbooks/openssl
[submodule "chef/cookbooks/xml"]
	path = chef/cookbooks/xml
	url = https://github.com/opscode-cookbooks/xml
[submodule "chef/cookbooks/redisio"]
	path = chef/cookbooks/redisio
	url = https://github.com/brianbianco/redisio/
